
*.class
*.o
*.so

# Maven compiled files (J2ME)
target

# Maven project files
.project
.settings
.classpath

# Subversion folders
.svn


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gedit Backup files
*~



# Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
